Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Modifying requirement file
  requirements/requirements_doc.txt
Labels: dependencies

Adding the cache for examples and doc build dir
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing a typo in the cache setup
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing pyansys/actions setups
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing the cache
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing the toctrees
  doc/source/index.rst
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/verif-manual/README.txt
  examples/verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/verif-manual/vm-008-parametric_calculation.py
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

checking mapdl output
  .ci/start_mapdl.sh
Labels: none

Testing using previous pymapdl version
  requirements/requirements_doc.txt
Labels: dependencies

Reverting the pymapdl version
  requirements/requirements_doc.txt
Labels: dependencies

Updating the example link
  doc/source/conf.py
Labels: documentation

Update doc/source/conf.py
  doc/source/conf.py
Labels: documentation

Updating pre-commit
  .pre-commit-config.yaml
Labels: none

Updating python version
  .github/workflows/ci_cd.yml
Labels: maintenance

Following German's changes in another PR
  .ci/start_mapdl.sh
Labels: none

Reverting the changes
  .ci/start_mapdl.sh
Labels: none

Update pre-commit (#45)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
Labels: maintenance

Reverting changes
  .ci/start_mapdl.sh
Labels: none

Adding run_location parameter
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

Trying to fix the launch_mapdl issue
  requirements/requirements_doc.txt
Labels: dependencies

Reverting run_location parameter
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

CICD modification
  .github/workflows/ci_cd.yml
Labels: maintenance

Updating CICD by adding doc-style
  .github/workflows/ci_cd.yml
Labels: maintenance

Removing doc-style to first solve the issue
  .github/workflows/ci_cd.yml
Labels: maintenance

Checking error is not coming from index file
  .github/workflows/ci_cd.yml
  doc/source/technology_showcase_examples/index.rst
Labels: documentation, maintenance

Activating command output
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: none

Changing the gallery summaries
  doc/source/images/thumb/sphx_glr_tse-001-brake_squeal_thumb.png
  doc/source/images/thumb/sphx_glr_tse-015-calvalhyper_thumb.png
  doc/source/images/thumb/sphx_glr_tse-020-PCB_thumb.png
  doc/source/images/thumb/sphx_glr_tse-028-fricstir_thumb.png
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-015-calvalhyper_thumb.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  examples/verif-manual/README.txt
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/verif-manual/vm-008-parametric_calculation.py
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

Adding the vm12 caracteritics
  doc/source/_static/vm12_setup.png
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

Fixing VM12 page
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: none

Adding the doc style check + VM files changes
  .github/workflows/ci_cd.yml
  README.rst
  doc/.vale.ini
  doc/source/technology_showcase_examples/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/verif-manual/vm-008-parametric_calculation.py
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
  requirements/requirements_doc.txt
Labels: documentation, maintenance, dependencies

Fixing Vale
  doc/source/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Fixing Vale report
  doc/source/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.ipynb
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.py
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Fixing Vale report
  doc/Makefile
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.py
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
Labels: documentation

Fixing Vale report
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Sortting accept.txt + fixing Vale report
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Adding techdemo 25 + updating documentation
  doc/source/conf.py
  doc/source/images/thumb/sphx_glr_tse-025-stent_thumb.png
  doc/source/index.rst
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-025-stent_thumb.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-1/images/gtecbrakesqueal_fig10.gif
  doc/source/technology_showcase_examples/techdemo-1/images/gtecbrakesqueal_fig6.png
  doc/source/technology_showcase_examples/techdemo-1/images/ndisp_21.png
  doc/source/technology_showcase_examples/techdemo-1/images/ndisp_21_linear.png
  doc/source/technology_showcase_examples/techdemo-1/images/ndisp_22.png
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.ipynb
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent1.png
  doc/source/technology_showcase_examples/techdemo-25/mesh.vtk
  doc/source/technology_showcase_examples/techdemo-25/mesh_sco.vtk
  doc/source/technology_showcase_examples/techdemo-25/s_VM.vtk
  doc/source/technology_showcase_examples/techdemo-25/u.vtk
  doc/source/technology_showcase_examples/techdemo-25/u_stent.vtk
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Updating accept.txt
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Cleaning the repository from unused files
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.ipynb
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.md5
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.py
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB_codeobj.pickle
  doc/source/technology_showcase_examples/techdemo-25/data/mesh.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/mesh_sco.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/s_VM.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/u.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/u_stent.vtk
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  examples/verif-manual/README.txt
Labels: documentation

Homogenisation of the TechDemos
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

Adding Techdemo 25 (#50)
  doc/source/conf.py
  doc/source/images/thumb/sphx_glr_tse-025-stent_thumb.png
  doc/source/index.rst
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-025-stent_thumb.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-1/images/gtecbrakesqueal_fig10.gif
  doc/source/technology_showcase_examples/techdemo-1/images/gtecbrakesqueal_fig6.png
  doc/source/technology_showcase_examples/techdemo-1/images/ndisp_21.png
  doc/source/technology_showcase_examples/techdemo-1/images/ndisp_21_linear.png
  doc/source/technology_showcase_examples/techdemo-1/images/ndisp_22.png
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.ipynb
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.md5
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.py
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB_codeobj.pickle
  doc/source/technology_showcase_examples/techdemo-25/data/mesh.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/mesh_sco.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/s_VM.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/u.vtk
  doc/source/technology_showcase_examples/techdemo-25/data/u_stent.vtk
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent1.png
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/README.txt
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Test
  junk.junk
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*
