Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Saving some changes - plots are not fixed
  .gitignore
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/mesh_sco.vtk
  doc/source/technology_showcase_examples/techdemo-25/test.vtk
  doc/source/technology_showcase_examples/techdemo-25/u_stent.vtk
  doc/source/technology_showcase_examples/techdemo-25/u_stent_test.vtk
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Fixing all the plot using VTK files
  doc/source/technology_showcase_examples/techdemo-25/disp.vtk
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/mesh.vtk
  doc/source/technology_showcase_examples/techdemo-25/mesh_sco.vtk
  doc/source/technology_showcase_examples/techdemo-25/s_VM.vtk
  doc/source/technology_showcase_examples/techdemo-25/test.vtk
  doc/source/technology_showcase_examples/techdemo-25/u.vtk
  doc/source/technology_showcase_examples/techdemo-25/u_stent.vtk
  doc/source/technology_showcase_examples/techdemo-25/u_stent_test.vtk
Labels: documentation

Adding tech demo 15
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig1.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig10.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig2.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig3.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig4.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig5.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig6.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig7.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig8.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig9.gif
  doc/source/technology_showcase_examples/techdemo-15/p_ex_15-teccalvalhyper.rst
Labels: documentation

Fixing build warnings
  doc/source/conf.py
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-015-calvalhyper_thumb.gif
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-15/ex-15-teccalvalhyper.rst
Labels: documentation

changing code syntax
  doc/source/technology_showcase_examples/techdemo-15/ex-15-teccalvalhyper.rst
Labels: documentation

Modifying the RST file
  doc/source/index.rst
  doc/source/links.rst
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-025-stent_thumb.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-25/mesh.vtk
  doc/source/technology_showcase_examples/techdemo-25/s_VM.vtk
  doc/source/technology_showcase_examples/techdemo-25/u.vtk
Labels: documentation

Removing link to python file since it is not provided.
  doc/source/technology_showcase_examples/index.rst
Labels: documentation

Adding tech demo 15 (#36)
  doc/source/conf.py
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-015-calvalhyper_thumb.gif
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-15/ex-15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig1.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig10.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig2.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig3.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig4.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig5.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig6.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig7.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig8.gif
  doc/source/technology_showcase_examples/techdemo-15/graphics/gtec_calvalhyper_fig9.gif
Labels: documentation

Fixing summary order
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
Labels: documentation

Fixing autosummary issues
  doc/source/index.rst
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

Empty space - fix
  .github/workflows/ci_cd.yml
Labels: maintenance

Revert empty space
  .github/workflows/ci_cd.yml
Labels: maintenance

Updating the requirements
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/u.vtk
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Fixing plot parameters
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Fixing the Sphinx gallery
  doc/source/index.rst
  doc/source/technology_showcase_examples/index.rst
Labels: documentation

Fixing log level standard error
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
Labels: documentation

Adding pyvista.OFF_SCREEN parameter
  doc/source/conf.py
Labels: documentation

Fixing a typo
  doc/source/conf.py
Labels: documentation

Fixing a build issue
  doc/source/conf.py
Labels: documentation

Fixing an issue in conf.py file
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
Labels: documentation

Fixing a RST issue on ex_20
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
Labels: documentation

Fixing warning VTK error
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Update doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
Labels: documentation

Fixing the warning issue
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Fixing warning level in the CI/CD
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
Labels: documentation, maintenance

Fixing the warning level in the CI/CD
  .github/workflows/ci_cd.yml
Labels: maintenance

Updating the python file
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
Labels: documentation

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

Cleaning the techdemo25 summarry
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
Labels: documentation

Apply suggestions from code review
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
Labels: documentation

Apply changes from German's review
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
Labels: documentation

Fixing formatting issues
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
Labels: documentation

Modifying plots/ images sizes + removing stent.db
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/verif-manual/vm-003/vm-003-thermally_loaded_support_structure.rst
  doc/source/verif-manual/vm-006/vm-006-pinched_cylinder.rst
  doc/source/verif-manual/vm-007/vm-007-plastic_compression_of_a_pipe_assembly.rst
  doc/source/verif-manual/vm-009/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.rst
Labels: documentation

Using Sphinx Gallery with VM files
  .gitignore
  doc/source/_static/README.md
  doc/source/_static/vm10_setup.png
  doc/source/_static/vm10_setup_1.png
  doc/source/_static/vm1_setup.png
  doc/source/_static/vm2_setup.png
  doc/source/_static/vm3_setup.png
  doc/source/_static/vm4_setup.png
  doc/source/_static/vm5_setup.png
  doc/source/_static/vm6_setup.png
  doc/source/_static/vm7_setup.png
  doc/source/_static/vm7_setup_1.png
  doc/source/_static/vm7_setup_2.png
  doc/source/_static/vm8_setup.png
  doc/source/_static/vm9_setup.png
  doc/source/_static/vm9_setup_2.png
  doc/source/conf.py
  doc/source/index.rst
  examples/verif-manual/README.txt
  examples/verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/verif-manual/vm-008-parametric_calculation.py
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Fixing issues
  .gitignore
  doc/source/index.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/source/verif-manual/images/thumb/sphx_glr_vm-001-statically_indeterminate_reaction_force_analysis_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-002-beam_stresses_and_deflections_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-003-thermally_loaded_support_structure_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-004-deflection_of_a_hinged_support_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-005-laterally_loaded_tapered_support_structure_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-006-pinched_cylinder_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-007-plastic_compression_of_a_pipe_assembly_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-008-parametric_calculation_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-009-large_lateral_deflection_of_unequal_stiffness_springs_thumb.png
  doc/source/verif-manual/images/thumb/sphx_glr_vm-010-bending_of_a_t-shaped_beam_thumb.png
  doc/source/verif-manual/index.rst
  doc/source/verif-manual/sg_execution_times.rst
  examples/verif-manual/README.txt
  examples/verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/verif-manual/vm-008-parametric_calculation.py
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

Fixing the level error for the doc building
  .github/workflows/ci_cd.yml
Labels: maintenance

Undo the last commit
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing the doc building issue
  doc/source/conf.py
Labels: documentation

Fixing issues
  doc/source/conf.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

Reverting back to Sphinx 5.3.0
  requirements/requirements_doc.txt
Labels: dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*
