Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*

Apply suggestions from code review
  doc/source/contributing/index.rst
  doc/source/contributing/write_examples.rst
Labels: documentation

Apply suggestions from code review
  doc/source/contributing/write_examples.rst
Labels: documentation

Apply suggestions from code review
  doc/source/contributing/index.rst
  doc/source/contributing/write_examples.rst
Labels: documentation

added VM examples 15 and 16
  doc/source/_static/vm15_setup.PNG
  doc/source/_static/vm16_setup.PNG
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
Labels: documentation

minor correction wrt eplot command for vm16
  examples/verif-manual/vm-016.py
Labels: none

fix: resetting the cache
  .github/workflows/ci_cd.yml
Labels: maintenance

doc: adding a plot
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: none

debug wrt plnsol command for documentation
  examples/verif-manual/vm-016.py
Labels: none

minor correction wrt clearnostart commnad
  examples/verif-manual/vm-016.py
Labels: none

included plnsol command to evaluate stresses
  examples/verif-manual/vm-016.py
Labels: none

Improving `vm12.py` (#115)
  .github/workflows/ci_cd.yml
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: maintenance

Apply suggestions from code review
  doc/source/contributing/index.rst
  doc/source/contributing/write_examples.rst
Labels: documentation

Update doc/source/contributing/index.rst
  doc/source/contributing/index.rst
Labels: documentation

Added Verification manual examples
  doc/source/_static/vm18_setup1.png
  doc/source/_static/vm18_setup2.png
  doc/source/_static/vm20_setup.png
  doc/source/_static/vm21_setup.png
  doc/source/_static/vm25_setup.png
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
Labels: documentation

Fix for the code spell error for EXTREM
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Update examples/verif-manual/vm-021.py
  examples/verif-manual/vm-021.py
Labels: none

Update examples/verif-manual/vm-021.py
  examples/verif-manual/vm-021.py
Labels: none

Minor fix for the results comparison table
  examples/verif-manual/vm-021.py
Labels: none

Minor fix for result calculation table
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-025.py
Labels: none

Update examples/verif-manual/vm-018.py
  examples/verif-manual/vm-018.py
Labels: none

Update examples/verif-manual/vm-020.py
  examples/verif-manual/vm-020.py
Labels: none

Update examples/verif-manual/vm-021.py
  examples/verif-manual/vm-021.py
Labels: none

Minor fix in commeting part of results comparison
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
Labels: none

maint: resetting the cache
  .github/workflows/ci_cd.yml
Labels: maintenance

minor code fixes to address commeting issues
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
Labels: none

reset cache to create the build
  .github/workflows/ci_cd.yml
Labels: maintenance

Few minor corrections to address title issues
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
Labels: none

reset cache to fix the documentation build
  .github/workflows/ci_cd.yml
Labels: maintenance

Minor doc corrections in terms of formating
  .github/workflows/ci_cd.yml
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
Labels: maintenance

final minor correction in doc formating
  examples/verif-manual/vm-018.py
Labels: none

reset cache for documentation build
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: removing use of cache
  .github/workflows/ci_cd.yml
Labels: maintenance

doc: changing "librairies" for "packages"
  doc/source/contributing/write_examples.rst
Labels: documentation

doc: removing stable documentation mention
  doc/source/contributing/index.rst
Labels: documentation

mainty: removing unused link
  doc/source/links.rst
Labels: documentation

doc: fixing landing page
  doc/source/index.rst
Labels: documentation

maint: restauring cache in CICD
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding `Contribute` section (#114)
  doc/source/contributing/index.rst
  doc/source/contributing/write_examples.rst
  doc/source/index.rst
  doc/source/links.rst
Labels: documentation

Adding VM examples 18, 20, 21 and 25 (#124)
  .github/workflows/ci_cd.yml
  doc/source/_static/vm18_setup1.png
  doc/source/_static/vm18_setup2.png
  doc/source/_static/vm20_setup.png
  doc/source/_static/vm21_setup.png
  doc/source/_static/vm25_setup.png
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
Labels: documentation, maintenance

added mapdl.show() to fix the issue with PLNSOL
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
Labels: none
