Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

fix: typo
  requirements/requirements_doc.txt
Labels: dependencies

maint: fixing vale
  doc/.vale.ini
Labels: none

fix: doc building
  doc/source/common_jupyter_execute.py
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-21/ex_21-tecbuckling.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/tech-demos/21-example-technology-showcase-buckling.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies

fix: vale checks
  doc/.vale.ini
Labels: none

fix: vale checks
  doc/.vale.ini
  doc/source/contributing/write_examples.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

fix: `.vale.ini`
  doc/.vale.ini
Labels: none

maint: reset caches
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: reset caches
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: updating sphinx-notfound-page
  requirements/requirements_doc.txt
Labels: dependencies

maint: reverting changes in `ci_cd.yml`
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing failing CICD (#171)
  doc/.vale.ini
  doc/source/common_jupyter_execute.py
  doc/source/contributing/write_examples.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-21/ex_21-tecbuckling.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/tech-demos/21-example-technology-showcase-buckling.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies

doc: fixing heading issues
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-15/ex_15-teccalvalhyper.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-011-residual-stress-problem.py
Labels: documentation

fix: attempt to fix code style
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: update `accept.txt`
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

fix: doc-style
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: removing Google-specific rule
  doc/.vale.ini
Labels: none

maint: deactivating doc style check
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: installing `libatlas-base-dev` in CICD
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: installing `libgomp1` in CICD
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: cicd
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: following pymapdl fix
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: following pymapdl fixes
  .ci/start_mapdl.sh
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

maint: updating cicd
  .ci/start_mapdl.sh
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: installing `libgomp` in cicd
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: fixing cicd
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: CICD (#178)
  .ci/start_mapdl.sh
  .github/workflows/ci_cd.yml
  doc/styles/Vocab/ANSYS/accept.txt
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*
