Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

Update requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

small modifications to file
  tech-demos/techdemo21/21-example-technology-showcase-buckling.py
Labels: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing ghcr.io login (#65)
  .github/workflows/ci_cd.yml
Labels: maintenance

Commented out postbuckling analysis
  tech-demos/techdemo21/21-example-technology-showcase-buckling.py
Labels: none

run pre-commit
  .gitignore
  tech-demos/techdemo21/21-example-technology-showcase-buckling.py
Labels: none

Activating techdemos building
  doc/source/conf.py
  examples/tech-demos/readme.rst
  examples/tech-demos/techdemo21/21-example-technology-showcase-buckling.py
  examples/verif-manual/readme.rst
  tech-demos/readme.rst
Labels: documentation

Fixing title
  examples/tech-demos/readme.rst
Labels: none

Flattening file structure
  examples/tech-demos/21-example-technology-showcase-buckling.py
Labels: none

Last edits to buckling example
  .gitignore
  doc/source/conf.py
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_21-example-technology-showcase-buckling.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-21/21-example-technology-showcase-buckling.rst
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_000.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_001.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_002.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_003.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_004.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_005.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_006.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_007.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_008.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_009.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_010.png
  doc/styles/Vocab/ANSYS/accept.txt
  examples/tech-demos/21-example-technology-showcase-buckling.py
Labels: documentation

Deleting vms folder
  vms/readme.rst
Labels: none

Code spell changes
  .codespellrc
  .pre-commit-config.yaml
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation, maintenance

Apply suggestions from code review
  doc/source/technology_showcase_examples/techdemo-21/21-example-technology-showcase-buckling.rst
Labels: documentation

Fixing the documentation to add example21 as en rst file
  doc/source/images/thumb/sphx_glr_tse-021-buckling_thumb.png
  doc/source/index.rst
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-021-buckling_thumb.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-21/ex_21-tecbuckling.rst
  examples/tech-demos/readme.rst
Labels: documentation

Fixing VALE warnings
  doc/source/technology_showcase_examples/techdemo-21/ex_21-tecbuckling.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/tech-demos/21-example-technology-showcase-buckling.py
Labels: documentation

Removing author mention
  doc/source/technology_showcase_examples/techdemo-21/ex_21-tecbuckling.rst
Labels: documentation

Adding technology demonstration guide example #21 (#21)
  .codespellrc
  .gitignore
  .pre-commit-config.yaml
  doc/source/images/thumb/sphx_glr_tse-021-buckling_thumb.png
  doc/source/index.rst
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-021-buckling_thumb.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-21/ex_21-tecbuckling.rst
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_000.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_001.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_002.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_003.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_004.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_005.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_006.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_007.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_008.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_009.png
  doc/source/technology_showcase_examples/techdemo-21/images/sphx_glr_21-example-technology-showcase-buckling_010.png
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/tech-demos/21-example-technology-showcase-buckling.py
  examples/verif-manual/readme.rst
Labels: documentation, maintenance

Fixing the toctree related to the issue
  doc/source/technology_showcase_examples/index.rst
Labels: documentation

Fixing summaries in the documentation (#71)
  doc/source/technology_showcase_examples/index.rst
Labels: documentation

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

Deleting sidebar-nav-bs file
  doc/source/_templates/sidebar-nav-bs.html
Labels: documentation

Fixing vtk issue by using panel backend
  doc/source/conf.py
  doc/source/technology_showcase_examples/common_jupyter_execute.py
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

Fixing style
  doc/source/conf.py
  doc/source/technology_showcase_examples/common_jupyter_execute.py
Labels: documentation

Relocating script file
  doc/source/common_jupyter_execute.py
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

Removing comment
  doc/source/common_jupyter_execute.py
Labels: documentation

Fixing vtk issue by using panel backend (#83)
  doc/source/common_jupyter_execute.py
  doc/source/conf.py
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

Fixing issues related to org rename
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/source/conf.py
  doc/source/links.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  requirements/requirements_doc.txt
Labels: documentation, maintenance, dependencies

Fixing Docker images
  .github/workflows/ci_cd.yml
Labels: maintenance

Fixing issues related to org rename (#89)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/source/conf.py
  doc/source/links.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  requirements/requirements_doc.txt
Labels: documentation, maintenance, dependencies

fix: broken breadcrumbs
  doc/source/conf.py
Labels: documentation

fix: broken breadcrumbs (#90)
  doc/source/conf.py
Labels: documentation

Removing repetitive parts
  doc/source/index.rst
Labels: documentation

Apply suggestions from code review
  doc/source/index.rst
Labels: documentation

Using start-after and end-before. Keeping previous removed section
  doc/source/index.rst
Labels: documentation

Proper start-line and end-line
  doc/source/index.rst
Labels: documentation

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*
