Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*

Adding folder and modifying index
  doc/source/index.rst
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-20/images/thumb/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_thumb.png
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-25/stent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/stent.rst
Labels: documentation

Modifying the TechDemo25 Python file
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-25/stent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/stent.rst
Labels: documentation

Adding a work in process flag in Python file
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
Labels: documentation

Update README.rst
  README.rst
Labels: none

Docs were not being deployed
  .github/workflows/ci_cd.yml
Labels: maintenance

Trial
  .github/workflows/ci_cd.yml
Labels: maintenance

Providing permissions needed
  .github/workflows/ci_cd.yml
Labels: maintenance

Update README.rst
  README.rst
Labels: none

Always point to the main branch of PyMAPDL
  requirements/requirements_doc.txt
Labels: dependencies

Run documentation on a nightly basis + on demand
  .github/workflows/ci_cd.yml
Labels: maintenance

Run documentation on a nightly basis + on demand (#17)
  .github/workflows/ci_cd.yml
Labels: maintenance

Always point to the main branch of PyMAPDL (#16)
  requirements/requirements_doc.txt
Labels: dependencies

Changing depth property of toctree
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
Labels: documentation

Modifying the Jupyter Notebook file
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent_2.ipynb
Labels: documentation

Adding technology demonstration guide example #21
  doc/source/technology_showcase_examples/techdemo-21/21-example-technology-showcase-buckling.py
Labels: documentation

Plotting displacements and stress
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
Labels: documentation

Jupyter file, Python file and RST file
  doc/source/links.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.py
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent_2.ipynb
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent1.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent10.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent11.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent12.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent2.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent3.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent4.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent5.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent6a.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent6b.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent7a.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent7b.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent8.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent9a.png
  doc/source/technology_showcase_examples/techdemo-25/images/gtecstent9b.png
  doc/source/technology_showcase_examples/techdemo-25/u.vtk
Labels: documentation

Adding breadcrumb for examples
  doc/source/conf.py
Labels: documentation

Missing codespell ignored word
  .codespellrc
Labels: maintenance

Adding breadcrumb for examples (#22)
  doc/source/conf.py
Labels: documentation

Added mapdl.ignore_errors = True so that the server does not exit
  doc/source/technology_showcase_examples/techdemo-21/21-example-technology-showcase-buckling.py
Labels: documentation

correct style
  doc/source/technology_showcase_examples/techdemo-21/21-example-technology-showcase-buckling.py
Labels: documentation

Exporting vtk files to create semi-static example
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  doc/source/technology_showcase_examples/techdemo-25/mesh.vtk
  doc/source/technology_showcase_examples/techdemo-25/s_VM.vtk
Labels: documentation

Updating repository scope to "examples" rather than "techdemos"
  README.rst
Labels: none

Updating repository scope to "examples" rather than "techdemos" (#23)
  README.rst
Labels: none

Fixing links
  .github/workflows/label.yml
  doc/source/conf.py
  doc/source/index.rst
  doc/source/links.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/verif-manual/index.rst
  doc/source/verif-manual/vm-001/vm-001-statically_indeterminate_reaction_force_analysis.rst
  doc/source/verif-manual/vm-002/vm-002-beam_stresses_and_deflections.rst
  doc/source/verif-manual/vm-003/vm-003-thermally_loaded_support_structure.rst
  doc/source/verif-manual/vm-004/vm-004-deflection_of_a_hinged_support.rst
  doc/source/verif-manual/vm-005/vm-005-laterally_loaded_tapered_support_structure.rst
  doc/source/verif-manual/vm-006/vm-006-pinched_cylinder.rst
  doc/source/verif-manual/vm-007/vm-007-plastic_compression_of_a_pipe_assembly.rst
  doc/source/verif-manual/vm-008/vm-008-parametric_calculation.rst
  doc/source/verif-manual/vm-009/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.rst
  doc/source/verif-manual/vm-010/vm-010-bending_of_a_t-shaped_beam.rst
Labels: documentation, maintenance

Fixing some link issues
  doc/source/index.rst
  doc/source/verif-manual/index.rst
  doc/source/verif-manual/sg_execution_times.rst
  doc/source/verif-manual/vm-001/vm-001-statically_indeterminate_reaction_force_analysis.py
  doc/source/verif-manual/vm-001/vm-001-statically_indeterminate_reaction_force_analysis.rst
  doc/source/verif-manual/vm-002/vm-002-beam_stresses_and_deflections.py
  doc/source/verif-manual/vm-002/vm-002-beam_stresses_and_deflections.rst
  doc/source/verif-manual/vm-003/vm-003-thermally_loaded_support_structure.py
  doc/source/verif-manual/vm-003/vm-003-thermally_loaded_support_structure.rst
  doc/source/verif-manual/vm-004/_static/vm4_setup.png
  doc/source/verif-manual/vm-004/vm-004-deflection_of_a_hinged_support.py
  doc/source/verif-manual/vm-004/vm-004-deflection_of_a_hinged_support.rst
  doc/source/verif-manual/vm-005/vm-005-laterally_loaded_tapered_support_structure.py
  doc/source/verif-manual/vm-005/vm-005-laterally_loaded_tapered_support_structure.rst
  doc/source/verif-manual/vm-006/vm-006-pinched_cylinder.py
  doc/source/verif-manual/vm-006/vm-006-pinched_cylinder.rst
  doc/source/verif-manual/vm-007/vm-007-plastic_compression_of_a_pipe_assembly.py
  doc/source/verif-manual/vm-007/vm-007-plastic_compression_of_a_pipe_assembly.rst
  doc/source/verif-manual/vm-008/vm-008-parametric_calculation.py
  doc/source/verif-manual/vm-008/vm-008-parametric_calculation.rst
  doc/source/verif-manual/vm-009/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  doc/source/verif-manual/vm-009/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.rst
  doc/source/verif-manual/vm-010/vm-010-bending_of_a_t-shaped_beam.py
  doc/source/verif-manual/vm-010/vm-010-bending_of_a_t-shaped_beam.rst
Labels: documentation

Fixing landing page
  doc/source/conf.py
  doc/source/index.rst
  doc/source/verif-manual/index.rst
  doc/source/verif-manual/sg_execution_times.rst
Labels: documentation

Fixing and adding sphx-glr
  .flake8
  doc/source/conf.py
  doc/source/index.rst
  doc/source/technology_showcase_examples/_static/custom.css
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-001-brake_squeal_thumb.png
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-020-PCB_thumb.png
  doc/source/technology_showcase_examples/images/thumb/sphx_glr_tse-028-fricstir_thumb.png
  doc/source/technology_showcase_examples/index.rst
  doc/source/technology_showcase_examples/techdemo-1/_static/tse1_setup.png
  doc/source/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-1/images/gtecbrakesqueal_fig7.png
  doc/source/technology_showcase_examples/techdemo-20/_static/tse20_setup.png
  doc/source/technology_showcase_examples/techdemo-20/ex_20-tecPCB.rst
  doc/source/technology_showcase_examples/techdemo-20/images/thumb/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_thumb.png
  doc/source/technology_showcase_examples/techdemo-28/_static/tse28_setup.png
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/source/verif-manual/index.rst
  doc/source/verif-manual/vm-001/vm-001-statically_indeterminate_reaction_force_analysis.ipynb
  requirements/requirements_doc.txt
Labels: documentation, maintenance, dependencies

Adding titles in the sphinx gallery
  doc/source/technology_showcase_examples/index.rst
Labels: documentation

Modifying the landing page
  doc/source/index.rst
Labels: documentation

Apply suggestions from code review
  doc/source/index.rst
  doc/source/verif-manual/sg_execution_times.rst
Labels: documentation

Remove orphan section from doc/source/index.rst
  doc/source/technology_showcase_examples/index.rst
Labels: documentation

Removing orphan mentions
  doc/source/index.rst
  doc/source/verif-manual/index.rst
Labels: documentation

Use allow_ignore=True
  doc/source/technology_showcase_examples/techdemo-21/21-example-technology-showcase-buckling.py
Labels: documentation

Fixing the vtk plots
  doc/source/technology_showcase_examples/techdemo-25/disp.vtk
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.ipynb
  doc/source/technology_showcase_examples/techdemo-25/u.vtk
  doc/source/verif-manual/index.rst
  requirements/requirements_doc.txt
Labels: documentation, dependencies

Testing the pymapdl.convert_script by adding vm12
  doc/source/verif-manual/vm-012/vm12.py
Labels: documentation

Trying to change a doc dependency
  requirements/requirements_doc.txt
Labels: dependencies

Small fixes
  doc/source/technology_showcase_examples/techdemo-21/21-example-technology-showcase-buckling.py
Labels: documentation

Change structure
  doc/source/conf.py
  doc/source/technology_showcase_examples/index.rst
  doc/source/verif-manual/index.rst
  tech-demos/readme.rst
  tech-demos/techdemo21/21-example-technology-showcase-buckling.py
  vms/readme.rst
Labels: documentation
