Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

minor code fix mapdl.show() for one of the case
  examples/verif-manual/vm-016.py
Labels: none

reset cache to build document
  .github/workflows/ci_cd.yml
Labels: maintenance

reset Cache to build documentation
  .github/workflows/ci_cd.yml
Labels: maintenance

Minor doc corrections
  .github/workflows/ci_cd.yml
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
Labels: maintenance

Update examples/verif-manual/vm-016.py
  examples/verif-manual/vm-016.py
Labels: none

Update examples/verif-manual/vm-015.py
  examples/verif-manual/vm-015.py
Labels: none

minor code fix in mapdl.eplot()
  examples/verif-manual/vm-016.py
Labels: none

rest cache to fix doc build
  .github/workflows/ci_cd.yml
Labels: maintenance

reset Cache to fix build issue
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: deactivating the cache
  .github/workflows/ci_cd.yml
Labels: maintenance

doc: fixing vm15 and vm16
  doc/source/index.rst
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
Labels: documentation

doc: using `mapdl.geometry` new API
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

doc: fixing techdemo 28
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

doc: `background_color` in white
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

fix: removing `mapdl.geometry` plots from techdemo28
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

maint: cache at 0
  .github/workflows/ci_cd.yml
Labels: maintenance

doc: white background for eplot
  examples/verif-manual/vm-015.py
Labels: none

remove white background for eplot vm15
  examples/verif-manual/vm-015.py
Labels: none

fix: image extension
  doc/source/_static/vm15_setup.png
  doc/source/_static/vm16_setup.png
Labels: documentation

maint: readding the cache
  .github/workflows/ci_cd.yml
Labels: maintenance

added VM examples 15 and 16 (#120)
  doc/source/_static/vm15_setup.png
  doc/source/_static/vm16_setup.png
  doc/source/index.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
Labels: documentation

Fixing techdemo 28 (#129)
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation

doc: edit_button and broken links
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/links.rst
Labels: documentation

maint: adding `html_context`
  doc/source/conf.py
Labels: documentation

doc: fixing `vm12.py`
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: none

doc: fixing `vm012.py` + links
  doc/source/links.rst
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

fix: pre-commit changes
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: none

Minor fixes in the doc (#134)
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/links.rst
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

maint: adding a condition to use cache
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: call env variable
  .github/workflows/ci_cd.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding a condition to use cache (#135)
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: adding linkcheck_ignore
  doc/source/conf.py
Labels: documentation

style: updated code style
  doc/source/conf.py
Labels: documentation

maint: updating pyvista syntax
  doc/source/conf.py
Labels: documentation

doc: fixing links
  doc/source/links.rst
Labels: documentation

maint: fixing cicd
  .github/workflows/ci_cd.yml
Labels: maintenance

Remove empty section from README.rst
  README.rst
Labels: none

Remove empty section from README.rst (#151)
  README.rst
Labels: none

fix: doc failing
  doc/source/common_jupyter_execute.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*
