Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

maint: update `make.bat`
  doc/make.bat
  examples/verif-manual/vm-011-residual-stress-problem.py
Labels: none

fix: pre-commit check
  .codespellrc
  doc/source/_static/vm291_setup1.PNG
  doc/source/_static/vm291_setup2.PNG
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, maintenance

Updating `make.bat` (#109)
  doc/make.bat
  examples/verif-manual/vm-011-residual-stress-problem.py
Labels: none

doc: adding LaTeX equations
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

minor corrections in the comment section
  examples/verif-manual/vm-014.py
Labels: none

Corrected title for VM5
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-014.py
Labels: none

Added section and minor correction in description
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

Update examples/verif-manual/vm-014.py
  examples/verif-manual/vm-014.py
Labels: none

Update examples/verif-manual/vm-014.py
  examples/verif-manual/vm-014.py
Labels: none

Update examples/verif-manual/vm-295.py
  examples/verif-manual/vm-295.py
Labels: none

Update examples/verif-manual/vm-295.py
  examples/verif-manual/vm-295.py
Labels: none

Update examples/verif-manual/vm-299.py
  examples/verif-manual/vm-299.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Update examples/verif-manual/vm-013.py
  examples/verif-manual/vm-013.py
Labels: none

Update examples/verif-manual/vm-014.py
  examples/verif-manual/vm-014.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

fix: dependencies
  requirements/requirements_doc.txt
Labels: dependencies

fix: fixing summary VM files
  doc/source/index.rst
  examples/verif-manual/vm-291.py
Labels: documentation

Apply suggestions from code review
  requirements/requirements_doc.txt
Labels: dependencies

doc: adding contributing section
  doc/source/contributing/index.rst
  doc/source/index.rst
  doc/source/links.rst
Labels: documentation

fix: change the extension names
  doc/source/_static/vm13_setup.png
  doc/source/_static/vm14_setup.png
  doc/source/_static/vm291_setup1.png
  doc/source/_static/vm291_setup2.png
  doc/source/_static/vm295_setup.png
  doc/source/_static/vm299_setup.png
Labels: documentation

fix: resetting cache
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: adding `pyiges`as a dependency because of `pyvista`
  requirements/requirements_doc.txt
Labels: dependencies

fix: maint requirements
  requirements/requirements_doc.txt
Labels: dependencies

resetting cache
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: requirements updates
  requirements/requirements_doc.txt
Labels: dependencies

maint: updating `vtk`
  requirements/requirements_doc.txt
Labels: dependencies

maint: adding `pyiges[full]` in dependencies
  requirements/requirements_doc.txt
Labels: dependencies

doc: section `write a good example`
  doc/source/contributing/index.rst
  doc/source/contributing/write_examples.rst
  doc/source/links.rst
Labels: documentation

doc: fix typo
  doc/source/contributing/write_examples.rst
Labels: documentation

doc: fixing Vale errors
  doc/source/contributing/write_examples.rst
Labels: documentation

doc: fixing Vale errors
  doc/source/contributing/write_examples.rst
Labels: documentation

doc: modifying `write_examples` section
  doc/source/contributing/write_examples.rst
Labels: documentation

fix: downgrading `pyvista`
  .github/workflows/ci_cd.yml
  requirements/requirements_doc.txt
Labels: maintenance, dependencies

Minor corrections to define sections
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

Added aplot to vm295
  examples/verif-manual/vm-295.py
Labels: none

Added new VM examples (#108)
  .codespellrc
  .github/workflows/ci_cd.yml
  doc/source/_static/vm13_setup.png
  doc/source/_static/vm14_setup.png
  doc/source/_static/vm291_setup1.png
  doc/source/_static/vm291_setup2.png
  doc/source/_static/vm295_setup.png
  doc/source/_static/vm299_setup.png
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
  requirements/requirements_doc.txt
Labels: documentation, maintenance, dependencies

doc: improving `vm12.py`
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: none

doc: updating `contributing` section with Vikas's suggestion
  doc/source/contributing/index.rst
Labels: documentation

Update doc/source/contributing/index.rst
  doc/source/contributing/index.rst
Labels: documentation

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*
