Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Update requirements/requirements_doc.txt
  requirements/requirements_doc.txt
Labels: dependencies

fix: fixing building doc issue
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: removing `upload-artifact` as already uploaded by ansys/actions
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: removing `upload-artifact` as already uploaded by ansys/actions
  .github/workflows/ci_cd.yml
Labels: maintenance

feat: adding license headers
  .pre-commit-config.yaml
  examples/tech-demos/21-example-technology-showcase-buckling.py
  examples/verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/verif-manual/vm-008-parametric_calculation.py
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-011-residual-stress-problem.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

feat: adding license headers (#197)
  .pre-commit-config.yaml
  examples/tech-demos/21-example-technology-showcase-buckling.py
  examples/verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/verif-manual/vm-008-parametric_calculation.py
  examples/verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/verif-manual/vm-011-residual-stress-problem.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: doc/source/**/*
maintenance:
- changed-files:
  - any-glob-to-any-file: .github/**/*
  - any-glob-to-any-file: .flake8
  - any-glob-to-any-file: pyproject.toml
  - any-glob-to-any-file: .codespellrc
dependencies:
- changed-files:
  - any-glob-to-any-file: requirements/*
