Repository ansys/pymapdl-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Removing repetitive parts in docs (#91)
  doc/source/index.rst
Labels: documentation

adding verif manual 11
  doc/source/_static/vm11_setup_1.png
  doc/source/_static/vm11_setup_2.png
  doc/source/index.rst
  examples/verif-manual/vm-011-residual-stress-problem.py
Labels: documentation

fix execution error of vm-006
  examples/verif-manual/vm-006-pinched_cylinder.py
Labels: none

fix bad name of vm-12 and mesh url of techdemo-25
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

revert changes in techdemo25
  doc/source/technology_showcase_examples/techdemo-25/ex_25-tecstent.rst
Labels: documentation

edit tox.ini file to use make
  tox.ini
Labels: none

crop image titles
  doc/source/_static/vm11_setup_1.png
  doc/source/_static/vm11_setup_2.png
Labels: documentation

add parameters instead of empty string replace mapdl.get with mapdl.get_value mute the result of the cells before the solution
  examples/verif-manual/vm-011-residual-stress-problem.py
Labels: none

update README to match with new tox commands
  README.rst
Labels: none

edit tox.ini to use make
  tox.ini
Labels: none

update README to match with new tox commands
  README.rst
Labels: none

Fix readme tox command for windows
  README.rst
Labels: none

reset changes related to tox. All of them are moved to #97
  README.rst
  tox.ini
Labels: none

Adding verif manual-11 (#96)
  doc/source/_static/vm11_setup_1.png
  doc/source/_static/vm11_setup_2.png
  doc/source/index.rst
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-011-residual-stress-problem.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation

tox change (#97)
  README.rst
  tox.ini
Labels: none

Fixing vale
  .codespellrc
  doc/styles/Vocab/ANSYS/accept.txt
Labels: maintenance

added VM examples VM13, VM14, VM291, VM295 and VM299
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

Update examples/verif-manual/vm-013.py
  examples/verif-manual/vm-013.py
Labels: none

Update examples/verif-manual/vm-013.py
  examples/verif-manual/vm-013.py
Labels: none

Update examples/verif-manual/vm-013.py
  examples/verif-manual/vm-013.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Update examples/verif-manual/vm-013.py
  examples/verif-manual/vm-013.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Update examples/verif-manual/vm-291.py
  examples/verif-manual/vm-291.py
Labels: none

Improved description and math operation
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

Updated VMs regarding the variables and the comments
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

Update examples/verif-manual/vm-013.py
  examples/verif-manual/vm-013.py
Labels: none

Update examples/verif-manual/vm-013.py
  examples/verif-manual/vm-013.py
Labels: none

Update examples/verif-manual/vm-299.py
  examples/verif-manual/vm-299.py
Labels: none

added description and improved results calc printout
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

Update doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Update examples/verif-manual/vm-014.py
  examples/verif-manual/vm-014.py
Labels: none

Update examples/verif-manual/vm-014.py
  examples/verif-manual/vm-014.py
Labels: none

Update examples/verif-manual/vm-014.py
  examples/verif-manual/vm-014.py
Labels: none

added detailed description to VMs example
  doc/source/_static/291_setup1.PNG
  doc/source/_static/291_setup2.PNG
  doc/source/_static/vm13_setup.PNG
  doc/source/_static/vm14_setup.PNG
  doc/source/_static/vm295_setup.PNG
  doc/source/_static/vm299_setup.PNG
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: documentation

Minor correction in description
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- .codespellrc
dependencies:
- requirements/*
