Repository ansys/pymapdl-examples, pull requests merged in 2023-07, with the labels that each got.

#108 Added new VM examples
  .codespellrc
  .github/workflows/ci_cd.yml
  doc/source/_static/vm13_setup.png
  doc/source/_static/vm14_setup.png
  doc/source/_static/vm291_setup1.png
  doc/source/_static/vm291_setup2.png
  doc/source/_static/vm295_setup.png
  doc/source/_static/vm299_setup.png
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-291.py
  examples/verif-manual/vm-295.py
  examples/verif-manual/vm-299.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies, maintenance

#115 Improving `vm12.py`
  .github/workflows/ci_cd.yml
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation, maintenance

#114 Adding `Contribute` section
  doc/source/contributing/index.rst
  doc/source/contributing/write_examples.rst
  doc/source/index.rst
  doc/source/links.rst
Labels: documentation

#124 Adding VM examples 18, 20, 21 and 25
  .github/workflows/ci_cd.yml
  doc/source/_static/vm18_setup1.png
  doc/source/_static/vm18_setup2.png
  doc/source/_static/vm20_setup.png
  doc/source/_static/vm21_setup.png
  doc/source/_static/vm25_setup.png
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/verif-manual/vm-013.py
  examples/verif-manual/vm-014.py
  examples/verif-manual/vm-018.py
  examples/verif-manual/vm-020.py
  examples/verif-manual/vm-021.py
  examples/verif-manual/vm-025.py
Labels: documentation, maintenance

#120 added VM examples 15 and 16
  doc/source/_static/vm15_setup.png
  doc/source/_static/vm16_setup.png
  doc/source/index.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/verif-manual/vm-015.py
  examples/verif-manual/vm-016.py
Labels: documentation, maintenance

#129 Fixing techdemo 28
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: documentation
