Repository ansys/pymapdl-examples, pull requests merged in 2023-05, with the labels that each got.

#89 Fixing issues related to org rename
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/source/conf.py
  doc/source/links.rst
  doc/source/technology_showcase_examples/techdemo-1/ex_01-tecbrakesqueal.rst
  doc/source/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  requirements/requirements_doc.txt
Labels: documentation, dependencies, maintenance

#90 fix: broken breadcrumbs
  doc/source/conf.py
Labels: bug, documentation

#91 Removing repetitive parts in docs
  doc/source/index.rst
Labels: documentation

#96 Adding verif manual-11
  doc/source/_static/vm11_setup_1.png
  doc/source/_static/vm11_setup_2.png
  doc/source/index.rst
  examples/verif-manual/vm-006-pinched_cylinder.py
  examples/verif-manual/vm-011-residual-stress-problem.py
  examples/verif-manual/vm-012-combined-bending-and-torsion.py
Labels: documentation
